#tangerine
  .rbc-toolbar-label
    flex initial !important

  .rbc-btn-group button.btn-icon
    padding 2px 15px
    font-size 15px

  .toolbar-stats
    cursor pointer
    color #555
    font-size 10px
    line-height 11px

    span
      display block

    span.toolbar-stat-value
      font-weight bold
      font-size 13px
