.rbc-row:nth-child(2)
  display: none

.rbc-day-slot .rbc-time-slot
  border-color: #efefef

.rbc-today
  background #fafafa

.rbc-header
  padding 5px

.rbc-time-gutter
  text-align right

.rbc-header-gutter, .rbc-time-gutter:first-of-type, .daily-totals div:first-child
  width 80px

