body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#tangerine {
  position: fixed;
  top: 41px;
  left: 0;
  width: 100%;
}

#tangerine .pane {
  background: white;
  padding: 20px 0px;
  animation: slide-down 0.3s ease both;
}

#tangerine aside {
  box-sizing: border-box;
  width: 350px;
  padding: 20px;
  padding-top: 60px;
  text-align: left;
}

#tangerine input.form-control,
#tangerine textarea.form-control {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 10px;
}

#tangerine select.form-control {
  width: 100%;
  box-sizing: border-box;
}

#tangerine textarea.form-control {
  padding: 10px;
  height: 150px;
}

#tangerine .btn-toggle {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  z-index: 100;
}

#tangerine .loading-screen {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.event-editable {
  border: 1px dashed grey;
  color: #666;
  background: #fafafa;
}

.fc-event.event-editable.fc-event:hover {
  color: #666 !important;
  background: #eaeaea;
}

#fullcalendar {
  max-width: 1000px;
  flex: 1;
}

.flex-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 800px;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.rbc-row:nth-child(2) {
  display: none;
}
.rbc-time-slot {
  min-height: 32px;
}
.rbc-day-slot .rbc-time-slot {
  border-color: #dadada;
}
.rbc-event-content {
  font-size: 12px;
}
.rbc-event-label {
  font-size: 10px;
}
